---
http_interactions:
- request:
    method: post
    uri: http://services.chromedata.com/Description/7a
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\"?>\n<soap:Envelope xmlns:dtns=\"urn:description7a.services.chrome.com\"
        xmlns:soap=\"http://schemas.xmlsoap.org/soap/envelope/\">\n  <soap:Header/>\n
        \ <soap:Body>\n    <dtns:DivisionsRequest modelYear=\"2013\">\n      <dtns:accountInfo
        number=\"123456\" secret=\"1111111111111111\" country=\"US\" language=\"en\"/>\n
        \   </dtns:DivisionsRequest>\n  </soap:Body>\n</soap:Envelope>\n"
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
      Soapaction:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=utf-8
      Chrome:
      - '218'
    body:
      encoding: US-ASCII
      string: <?xml version='1.0' encoding='UTF-8'?><S:Envelope xmlns:S="http://schemas.xmlsoap.org/soap/envelope/"><S:Body><Divisions
        xmlns="urn:description7a.services.chrome.com"><responseStatus responseCode="Successful"
        description="Successful"/><division id="1">Acura</division><division id="4">Audi</division><division
        id="45">Bentley</division><division id="5">BMW</division><division id="6">Buick</division><division
        id="7">Cadillac</division><division id="8">Chevrolet</division><division id="9">Chrysler</division><division
        id="11">Dodge</division><division id="59">FIAT</division><division id="13">Ford</division><division
        id="15">GMC</division><division id="16">Honda</division><division id="17">Hyundai</division><division
        id="18">Infiniti</division><division id="19">Isuzu</division><division id="20">Jaguar</division><division
        id="21">Jeep</division><division id="22">Kia</division><division id="23">Land
        Rover</division><division id="24">Lexus</division><division id="25">Lincoln</division><division
        id="26">Mazda</division><division id="27">Mercedes-Benz</division><division
        id="2">MINI</division><division id="29">Mitsubishi</division><division id="30">Nissan</division><division
        id="34">Porsche</division><division id="57">Ram</division><division id="49">Rolls-Royce</division><division
        id="52">Scion</division><division id="42">Smart</division><division id="37">Subaru</division><division
        id="38">Suzuki</division><division id="56">Tesla</division><division id="39">Toyota</division><division
        id="40">Volkswagen</division><division id="41">Volvo</division></Divisions></S:Body></S:Envelope>
  recorded_at: Tue, 19 Mar 2013 23:50:43 GMT
recorded_with: VCR 2.4.0
