---
http_interactions:
- request:
    method: get
    uri: http://services.chromedata.com/Description/7a?wsdl
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=utf-8
      Chrome:
      - '218'
    body:
      encoding: US-ASCII
      string: ! "<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI
        at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.1-hudson-28-.
        --><definitions xmlns:dtns=\"urn:description7a.services.chrome.com\" xmlns=\"http://schemas.xmlsoap.org/wsdl/\"
        xmlns:soap=\"http://schemas.xmlsoap.org/wsdl/soap/\" xmlns:wsdl=\"http://schemas.xmlsoap.org/wsdl/\"
        xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" name=\"Description7a\" targetNamespace=\"urn:description7a.services.chrome.com\">\n
        \   <documentation>\n        Chrome Automotive Description Service 7.1 876
        2013.02.06 16.39.52 PST\n    </documentation>\n\n    <types>\n        <schema
        xmlns:tns=\"urn:description7a.services.chrome.com\" xmlns=\"http://www.w3.org/2001/XMLSchema\"
        targetNamespace=\"urn:description7a.services.chrome.com\" elementFormDefault=\"qualified\">\n\n
        \           <complexType name=\"AccountInfo\">\n                <attribute
        name=\"number\" type=\"string\" use=\"required\">\n                    <annotation>\n
        \                       <documentation>Account Number provided by Chrome.</documentation>\n
        \                   </annotation>\n                </attribute>\n                <attribute
        name=\"secret\" type=\"string\" use=\"required\">\n                    <annotation>\n
        \                       <documentation>Account Secret/Password provided by
        Chrome.</documentation>\n                    </annotation>\n                </attribute>\n
        \               <attribute name=\"country\" type=\"string\" use=\"required\">\n
        \                   <annotation>\n                        <documentation>Upper-case,
        two-letter code defined by ISO-3166.</documentation>\n                    </annotation>\n
        \               </attribute>\n                <attribute name=\"language\"
        type=\"string\" use=\"required\">\n                    <annotation>\n                        <documentation>Lower-case,
        two-letter code defined by ISO-639.</documentation>\n                    </annotation>\n
        \               </attribute>\n                <attribute name=\"behalfOf\"
        type=\"string\" />\n            </complexType>\n\n            <element name=\"VersionInfo\">\n
        \               <complexType>\n                    <complexContent>\n                        <extension
        base=\"tns:BaseResponse\">\n                            <sequence>\n                                <element
        name=\"data\" maxOccurs=\"unbounded\">\n                                    <annotation>\n
        \                                       <documentation>Represents each country
        of data available via this service, its\n                                            version,
        and licensed availability.\n                                        </documentation>\n
        \                                   </annotation>\n               [...]
