---
http_interactions:
- request:
    method: post
    uri: http://services.chromedata.com/Description/7a
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\"?>\n<soap:Envelope xmlns:dtns=\"urn:description7a.services.chrome.com\"
        xmlns:soap=\"http://schemas.xmlsoap.org/soap/envelope/\">\n  <soap:Header/>\n
        \ <soap:Body>\n    <dtns:ModelsRequest>\n      <dtns:accountInfo number=\"123456\"
        secret=\"1111111111111111\" country=\"US\" language=\"en\"/>\n      <dtns:modelYear>2013</dtns:modelYear>\n
        \     <dtns:divisionId>13</dtns:divisionId>\n    </dtns:ModelsRequest>\n  </soap:Body>\n</soap:Envelope>\n"
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
      Soapaction:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=utf-8
      Chrome:
      - '198'
    body:
      encoding: US-ASCII
      string: <?xml version='1.0' encoding='UTF-8'?><S:Envelope xmlns:S="http://schemas.xmlsoap.org/soap/envelope/"><S:Body><Models
        xmlns="urn:description7a.services.chrome.com"><responseStatus responseCode="Successful"
        description="Successful"/><model id="25459">C-Max Energi</model><model id="25455">C-Max
        Hybrid</model><model id="25134">Econoline Cargo Van</model><model id="25567">Econoline
        Commercial Chassis</model><model id="25568">Econoline Commercial Cutaway</model><model
        id="25565">Econoline Wagon</model><model id="24937">Edge</model><model id="25055">Escape</model><model
        id="25572">Expedition</model><model id="25573">Expedition EL</model><model
        id="24934">Explorer</model><model id="25621">F-150</m[...]
