---
http_interactions:
- request:
    method: post
    uri: http://services.chromedata.com/Description/7a
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\"?>\n<soap:Envelope xmlns:dtns=\"urn:description7a.services.chrome.com\"
        xmlns:soap=\"http://schemas.xmlsoap.org/soap/envelope/\">\n  <soap:Header/>\n
        \ <soap:Body>\n    <dtns:VehicleDescriptionRequest>\n      <dtns:accountInfo
        number=\"123456\" secret=\"1111111111111111\" country=\"US\" language=\"en\"/>\n
        \     <dtns:vin>WDDGF4HB1CR000000</dtns:vin>\n    </dtns:VehicleDescriptionRequest>\n
        \ </soap:Body>\n</soap:Envelope>\n"
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
      Soapaction:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=utf-8
      Chrome:
      - '219'
    body:
      encoding: US-ASCII
      string: ! '<?xml version=''1.0'' encoding=''UTF-8''?><S:Envelope xmlns:S="http://schemas.xmlsoap.org/soap/envelope/"><S:Body><VehicleDescription
        xmlns="urn:description7a.services.chrome.com" country="US" language="en" modelYear="2012"
        bestMakeName="Mercedes-Benz" bestModelName="C-Class" bestStyleName="4dr Sdn
        C250 RWD" bestTrimName="C250"><responseStatus responseCode="ConditionallySuccessful"
        description="ConditionallySuccessful"><status code="InvalidVinCheckDigit">Failed
        checksum or bad check digit.</status></responseStatus><vinDescription vin="WDDGF4HB1CR000000"
        modelYear="2012" division="Mercedes-Benz" modelName="C-Class" styleName="4dr
        Sdn 1.8L RWD" bodyType="Sedan" drivingWheels="Rear"><WorldManufacturerIdentifier>Germany
        Vehicles - all types </WorldManufacturerIdentifier><restraintTypes><group
        id="9">Safety</group><header id="38">Air Bag - Frontal</header><category id="1001">Driver
        Air Bag</category></restraintTypes><restraintTypes><group id="9">Safety</group><header
        id="38">Air Bag - Frontal</header><category id="1002">Passenger Air Bag</category></restraintTypes><restraintTypes><group
        id="9">Safety</group><header id="38">Air Bag - Frontal</header><category id="1004">Passenger
        Air Bag On/Off Switch</category></restraintTypes><restraintTypes><group id="9">Safety</group><header
        id="39">Air Bag - Side</header><category id="1005">Front Side Air Bag</category></restraintTypes><restraintTypes><group
        id="9">Safety</group><header id="39">Air Bag - Side</header><category id="1007">Front
        Head Air Bag</category></restraintTypes><restraintTypes><group id="9">Safety</group><header
        id="39">Air Bag - Side</header><category id="1008">Rear Head Air Bag</category></restraintTypes><marketClass
        id="43">4-door Compact Passenger Car</marketClass></vinDescription><style
        id="337364" modelYear="2012" name="4dr Sdn C250 Sport RWD" nameWoTrim="4dr
        Sdn RWD" trim="C250 Sport" mfrModelCode="C250W" fleetOnly="false" modelFleet="false"
        passDoors="4" altModelName="C250" altStyleName="C250 Sport Sedan" altBodyType="4dr
        Car" drivetrain="Rear Wheel Drive"><division id="27">Mercedes-Benz</division><subdivision
        id="6957">Mercedes-Benz</subdivision><model id="21771">C-Class</model><basePrice
        unknown="false" invoice="32364.0" msrp="34800.0" destination="875.0"/><bodyType
        primary="true" id="2">4dr Car</bodyType><marketClass id="43">4-door Compact
        Passenger Car</marketClass><stockImage filename="14364.jpg" url="http://media.carbook.com/autoBuilderData/stockPhotos/14364.jpg"
        width="400" height="200"/></style><style id="337365" modelYear="2012" name="4dr
        Sdn C250 Luxury RWD" nameWoTrim="4dr Sdn RWD" trim="C250 Luxury" mfrModelCode="C250W"
        fleetOnly="false" modelFleet="false" passDoors="4" altModelName="C250" altStyleName="C250
        Luxury Sedan" altBodyType="4dr Car" drivetrain="Rear Wheel Drive"><division
        id="27">Mercedes-Benz</division><subdivision id="6957">Mercedes-Benz</subdivision><model
        id="21771">C-Class</model><basePrice unknown="false" invoice="32755.0" msrp="35220.0"
        destination="875.0"/><bodyType primary="true" id="2">4dr Car</bodyType><marketClass
        id="43">4-door Compact Passenger Car</marketClass><stockImage filename="14364.jpg"
        url="http://media.carbook.com/autoBuilderData/stockPhotos/14364.jpg" width="400"
        height="200"/></style><engine highOutput="false"><engineType id="1048">4 Cylinder
        Engine</engineType><fuelType id="1059">Gasoline Fuel</fuelType><horsepower
        value="201.0" rpm="5500"/><netTorque value="229.0" rpm="2200"/><cylinders>4</cylinders><displacement
        liters="1.8" cubicIn="110"/><fuelEconomy unit="MPG"><city low="21.0" high="21.0"/><hwy
        low="31.0" high="31.0"/></fuelEconomy><fuelCapacity unit="gal" low="17.4"
        high="17.4"/><forcedInduction id="1054">Turbocharged</forcedInduction><installed
        cause="VIN"/></engine><standard><header id="1236">MECHANICAL</header><description>1.8L
        16-valve I4 turbocharged engine</description><category id="1048"/><category
        id="1054"/><category id="1059"/><styleId>337364</styleId><styleId>337365</styleId><installed
        cause="Engine"/></standard><standard><header id="1236">MECHANICAL</header><description>7-speed
        automatic transmission -inc: Touch Shift</description><category id="1130"/><category
        id="1195"/><category id="1210"/><styleId>337364</styleId><styleId>337365</styleId><installed
        cause="BaseEquipment"/></standard><standard><header id="1236">MECHANICAL</header><description>Rear
        wheel drive</description><category i[...]
